<!DOCTYPE html>
<html lang="en">

<head>
  <title>Faculty Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript">
  	$(document).on({
	    "contextmenu": function(e) {
	        console.log("ctx menu button:", e.which); 

	        // Stop the context menu
	        e.preventDefault();
	    },
	    "mousedown": function(e) { 
	        console.log("normal mouse down:", e.which); 
	    },
	    "mouseup": function(e) { 
	        console.log("normal mouse up:", e.which); 
	    }
	});
  </script>
  <style type="text/css">
  	body{
  		background-color: rgba(0,0,0);
	  }
	  .prac{
		background-color: #333;
		color: white;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 40%;
		padding-right: 40%;
	}
  </style>
</head>

<body>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>                        
	      </button>
	      <!--Faculty logo-->
	      <a class="navbar-brand" href="home">Faculty</a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav">
	      	<!--menu options-->
	        <li class="active"><a href="home">Home</a></li>
	        <!--class-->
	        <li><a href="class">Class</a></li>
	        <!--promotion / detaintion-->
	        <li class="dropdown">
	          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Promotion / detain  <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="add">Add Student</a></li>
	            <li><a href="promote">Promote Student</a></li>
	            <li><a href="detain">detain Student</a></li>
	          </ul>
	        </li>
	        <!--subjects-->
	        <li class="dropdown">
	          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Subject  <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="faculty_subject">Faculty Subjects</a></li>
	            <li><a href="subject_upload">Subject Upload</a></li>
	            <li><a href="practical_submit">Practical submission</a></li>
	            <li><a href="prac_class">Practical/Weekly Class</a></li>
	            <li><a href="attendance">Attendance</a></li>
	            <li><a href="request">Requests</a></li>
	          </ul>
	        </li>
	        <!--edit-->
	        <li><a href="edit">Edit Profile</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{user.enrollment}}</a></li>
	        <li><a href="../logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>
	  
	<div class="container">
	{% block content %}

	{% endblock content %}
	</div>

</body>
</html>